#identifier{
    font-size: 30px;
}

#menu{
    display: flex;
    width: 100%;
}

#logo {
    width: 80px;
    height: 80px;
}

.heading {
    margin-left: 20px;
    border-left: 6px solid #b60000;
    font-size: 25px;
}

#content{
    background-image: url("../images/bg02.png");
    background-size: cover;
}

.option-field{
    outline: none;
    width: 300px;
    height: 26px;
}

.input-field{
    width: 250px;
}

.td-w-250{
    width: 250px;
}

.color-light-red{
    color: #b60000;
}

.decor-u{
    text-decoration: underline;
}

.upload-btn {
    border: 1px solid grey;
    width: 250px;
    padding: 2px;
    border-radius: 5px;
}

.lbl{
    font-size: 20px;
}

@media only screen and (max-width: 500px){
    #mid-content{
        display: flex;
        flex-direction: column;
    }

    .input-field{
        width: 190px;
        margin-left: 10px;
    }

    .heading{
        font-size: 22px;
    }

    #identifier{
        font-size: 26px;
    }

    .lbl{
        font-size: 15px;
    }

    .upload-btn {
        width: 190px;
        margin-left: 10px;
    }

    .pad{
        padding-right: 18px;
    }
}